body{
  background-color: #C19EF9;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index:-100;
  min-width: 100%;
  display:block;
  margin:auto;
}
.container{
  max-width:800px;
  margin:25px auto;
}
h1{
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Philosopher', sans-serif;
  line-height: 1.5;
  font-size: 50px;
  color: #AD622A;
  font-weight: 800;
}
h5, footer{
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}
h5{
  font-size:25px;
}
form{
  padding: 5px;
}
.text-box{
  width:75%;
  border-radius: 10px;
  margin-top: 10px;
  line-height: 30px;
  font-size: 18px;
  color:rgb(117, 63, 36);
  border:1px solid rgb(97, 81, 72);
  border-color: #040404;
  font-family:'Philosopher', sans-serif;
}
.button-box{
  border-radius: 10px;
  width:90px;
  margin-left: 10px;
  background: #DAC5FB;
  border:none;
  color:#05010c;
  padding: 8px 5px;
  box-shadow: 10px 8px 10px rgba(16, 16, 16, 0.2);
  font-family: 'Philosopher', sans-serif;;
}
.hidden{
  display:none;
}
.hint{
  font-size:13px;
  opacity:0.7;
}
#quote{
  font-family: 'Courgette', cursive;
  font-size:20px;
  line-height: 1.5;
  color:rgb(117, 63, 36);
}
.focus{
  font-weight: 700;
}
footer{
  margin-bottom: 10px;
  font-size: 15px;
}
@media(max-width:500px){
  h1{
    font-size:30px;
  }
  h5{
    font-size:18px;
  }
  .button-box{
    margin:10px 0;
  }
  .text-box{
    width:100%;
  }
  #quote{
    font-size:17px;
    text-align: center;
  }
}